<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'DjangoReader/css/bootstrap.css' %}" />

    <title>Django</title>
</head>

<body class="container h-100 d-flex justify-content-center align-content-center">
    <div>
        <h1>Регистрация</h1>

        <form action='/create-user/' method='post'>
            {% csrf_token %}
            {{ form }}
            <input class="btn btn-primary" type="submit" value="Submit" />
        </form>
    </div>
</body>

</html>